/* Typography */
body {
  /* Everything is Raleway */
  font-family: 'Raleway', sans-serif;
}
/* Except we're using more specific rules to override the headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
/* And the "logo" */
.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.navbar-brand img {
  width: 30px;
  height: 35px;
}
.navbar-light .navbar-brand {
  color: black;
}

/* Navbar background color */
.navbar {
  background-color: #afe6f1;
}

.table img {
  height: 150px;
}

.table img {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.table img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.table tr {
  height: 200px;
}

/* Jumbotron background and font styles */
/* Notice that I'm using all of the background CSS rules on the CSS cheat sheet */
.jumbotron {
  /* Background */
  background-attachment: fixed;
  background-image: url(chicago.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;

  /* Fonts */
  /* The text-shadow helps the white text stand out better on a darker background */
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* The background color of the "testimonials" part */
.testimonials {
  background-color: #eeeeee;
}

/* The size of the testimonials images */
.media img {
  width: 64px;
  height: 64px;
}

/* The pricing */
.pricing {
  background-color: white;
}
.pricing h1 {
  font-family: 'Raleway', sans-serif;
  color: black;
}

/* The footer */
.footer img {
  width: 100px;
}