/* Default font */
body {
  font-family: 'Raleway', sans-serif;
}

/* Override headers with different font */
.apply_for_membership h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.companies_partnered_with {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar */
.navbar img {
  height: 40px;
}

/* Jumbotron */
.jumbotron {
  background-attachment: fixed;
  background-image: url(chicago.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
}

/* About background color */
.about {
  background-color: #EFEBE6;
}

/* About override header color */
.about h4 {
  color: #0d667f;
}

/* About override paragraph font size */
.about p {
  font-size: 20px;
}

/* Override portfolio table style */
.portfolio td {
  border: 1px solid #ffffff;
  width: 25%;
  vertical-align: middle;
  height: 200px;
}

/* Portfolio company logos grayed out, except when mouse hovers over them */
.portfolio img {
  max-height: 80px;
  max-width: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.table img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%);
}

/* Investors */
.investors_page_headers {
  color: #0d667f;
}

/* Overriding button style rules */
.btn {
  border-color: #0d667f;
  color: #0d667f;
}

.btn:hover {
  background-color: #0d667f;
  border-color: #0d667f;
  color: #ffffff;
}

.jumbotron a {
  border-color: #ffffff;
  color: #ffffff;
}

/* Footer */
.footer img {
  height: 40px;
}